<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>Course description</title>
    <style>
      table {
        width: 800px;
		height: 500px;
      }
      table{
        border-style: solid;
		border-width: 2px;
		border-collapse: collapse;
      }
	  th, td{
        border-style: solid;
		border-width: 1px;
      }
	  th{
		background-color: gray;
	  }
	  th.col1{
		width: 100px;
	  }
	  th.col2, td.col2{
		width: 150px;
	  }
	  th.col3, td.col3{
		width: 40px;
	  }
	  th.col4, td.col4{
		width: 60px;
	  }
	  
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th class = "col1">과목명</th>
          <th colspan= "6"><%= @course.title %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class = "col1">과정목표</th>
          <td  colspan= "6"><%= @course.purpose %></td>
          <!-- <td rowspan="2">Dolor</td> -->
        </tr>
        <tr>
          <th class = "col1">과목특징</th>
          <td  colspan= "6"><%= @course.feature %></td>
        </tr>
        <tr>
          <th rowspan="2", class = "col1">과정개요</th>
          <th class = "col2">교육인원</th>
          <td><%= @course.overview_number_of_memeber %></td>
          <th class = "col2">교육형태</th>
	  <td colspan= "2"><%= @course.overview_type %></td>
        </tr>
		<tr>
          <th class = "col2">교육대상</th>
          <td><%= @course.overview_target %></td>
          <th class = "col2">교육시간</th>
	  <td colspan= "2"><%= @course.overview_time%></td>
        </tr>
	<tr>
	  <th rowspan= <%= @course.course_programs.size + 1 %>, class = "col1"> 프로그램</th>
          <th class = "col2">LO</th>
          <th colspan= "2">교육내용</th>
          <th class = "col3">교육시간</th>
		  <th class = "col4">비고</th>
        </tr>
	<% @course.course_programs.each do |course_program| %>
 	<tr>
          <td class = "col2"><%= course_program.lo %></td>
          <td colspan= "2"><%= course_program.contents %></td>
          <td class = "col3"><%= course_program.time %></td>
	  <td class = "col4"><%= course_program.note %></td>
        </tr>
	<% end %>
          <th class = "col1">기대효과</th>
		  <td colspan= "6"><%= @course.expectation %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
