<ul class="global-child">
  <li><%= link_to "회사 소개 및 일반 현황", "#" %></li>
  <li><%= link_to "회사 사업 실적", about_us_perf_path %></li>
  <li><a href="/about_us/consultant">컨설턴트 소개</a></li>
  <li><a href="#">조직도</a></li>
  <li><a href="#">고객사</a></li>
</ul>
