<h2>최성운 대표</h3>
<h3>Chief  Architect</h3>
<h3>인적사항</h3>
<ul>
  <li>명지대학교 컴퓨터공학부 교수</li>
  <li>OMG Korea 회장</li>
  <li>미국 오레곤 주립대학 (공학박사), 1992년,</li>
</ul>
<h3>연구 분야</h3>
<ul>
  <li>아키텍처 기반 시스템 개발 (Architecture-Centric System Development)</li>
  <li>서비스 기반 아키텍처 (Service-Oriented Architecture)</li>
  <li>소프트웨어 개발 프로세스 (Software Development Process)</li>
</ul>
<h3>주요 경력</h3>
<ul>
  <li>2013.08 ~ 현재: 삼성 테크윈 아키텍트 양성 강사 및 심사위원</li>
  <li>2013.06 ~ 현재: 현대엠엔소프트 컨설팅 -차세대 네비게이션 플랫폼 아키텍처</li>
  <li>2011.01-2012.12: 투비소프트 기술자문-차세대 Xplatform 아키텍처</li>
  <li>2008.01-2009.12: 삼성SDS 기술자문-메타프로세스 기반 프로세스 통합</li>
  <li>2007.01-2007.06: 삼성SDS 기술자문-개발/관리/감리 방법론</li>
  <li>2006.02-2006.09: 삼성전자 기술자문-차세대 Mobile Phone을 위한 미들웨어 아키텍처</li>
  <li>2006.02-2006.09: 이바야콥슨컨설팅 기술자문-Aspect-Oriented 방법론</li>
</ul>
