<section class="about-us-subpage">
  <h3 id="consultant-title">컨설턴트 소개</h3>
  <div class="consultant">
    <h3 class="consultant-name">최성운 교수 (고문)</h3>
    <p class="consultant-role">Chief Architect</p>
    <table class="consultant-desc">
      <tr>
        <th>인적사항</th>
        <td>
          <p>명지대학교 컴퓨터공학부 교수</p>
          <p>OMG Korea 회장</p>
          <p>미국 오레곤 주립대학(공학박사), 1992년,</p>
        </td>
      </tr>
      <tr>
        <th>연구분야</th>
        <td>
          <p>아키텍처 기반 시스템 개발 (Architecture-Centric System Development</p>
          <p>서비스 기반 아키텍처 (Service-Oriented Architecture)</p>
          <p>소프트웨어 개발 프로세스 (Software Development Process</p>
        </td>
      </tr>
      <tr>
        <th>주요경력</th>
        <td>
          <p>2013.08 ~ 현재: 삼성 테크윈 아키텍트 양성 강사 및 심의위원</p>
          <p>2013.06 ~ 현재: 현대엠앤소프트 컨설팅 - 차세대 네비게이션 플랫폼 아키텍처</p>
          <p>2011.01 ~ 2012.12: 투비소프트 기술자문 - 차세대 Xplatform 아키텍처</p>
          <p>2008.01 ~ 2009.12: 삼성SDS 기술자문 - 메타프로세스 기반 프로세스 통합</p>
          <p>2007.01 ~ 2007.07: 삼성SDS 기술자문 - 개발/관리/감리 방법론</p>
          <p>2006.02 ~ 2006.09: 삼성전자 기술자문 - 차세대 Mobile Phone을 위한 미들웨어 아키텍처</p>
          <p>2006.02 ~ 2006.09: 이바야콥슨컨설팅 기술자문 - Aspected-Oriented 방법론</p>

        </td>
      </tr>
    </table>
  </div>
  <div class="consultant">
    <h3 class="consultant-name">김정호 대표</h3>
    <p class="consultant-role">Senior Architect</p>
    <table class="consultant-desc">
      <tr>
        <th>인적사항</th>
        <td>
          <p>(주) 제이유컨설팅 대표이사</p>
          <p>NIPA 소프트웨어 전문위원</p>
          <p>Carnegie Mellon University: Master - Software Engineering 전공</p>
          <p>KAIST: Ph.D 수료 - Software Architecture 전공</p>
        </td>
      </tr>
      <tr>
        <th>연구분야</th>
        <td>
          <p>소프트웨어 아키텍처 이론과 실제 (에이콘 2007, 번역)</p>
          <p>소프트웨어 아키텍처 문서화 (에이콘 2008, 번역)</p>
          <p>Software architecture reconstruction for extensibility (KCSE 2009, 논문)</p>
          <p>The method for verifying software architecture with FSP model (ICACT 2010, 논문)</p>
          <p>엔터프라이즈 애플리케이션을 위한 소프트웨어 아키텍처 개발 실무 (KOSTA, 2010, 저술)</p>
        </td>
      </tr>
      <tr>
        <th>주요경력</th>
        <td>
          <p>2011.06 ~ 현재: 삼성 테크윈 아키텍트 양성과정 - 아키텍트 양성 강사 및 멘토</p>
          <p>2013.06 ~ 현재: 현대엠엔소프트웨어 네비게이션 플랫폼 - 아키텍처 설계 컨설턴트</p>
          <p>2006.09 ~ 2007.03: 한화손해보험 차세대 시스템 - 소프트웨어 아키텍트</p>
          <p>2007.03 ~ 2008.01: 대신증권 차세대 시스템 - 소프트웨어 아키텍트</p>
          <p>2008.01 ~ 2010.06: SK 가상세계 서비스 플랫폼 - 소프트웨어 아키텍트</p>
        </td>
      </tr>
    </table>
  </div>
  

</section>
