<h2>김정호 대표</h2>
<h3>Senior Architect</h3>

<h3>인적사항</h3>
<ul>
<li>㈜제이유컨설팅 대표이사</li>
<li>NIPA 소프트웨어 전문위원</li>
<li>Carnegie Mellon University: Master - Software Engineering 전공</li>
<li>KAIST: Ph.D 수료 - Software Architecture 전공</li>
</ul>
<h3>저술</h3>
<ul>
<li>소프트웨어 아키텍처 이론과 실제 (에이콘 2007, 번역)</li>
<li>소프트웨어 아키텍처 문서화 (에이콘 2008, 번역)</li>
<li>Software architecture reconstruction for extensibility (KCSE 2009, 논문)</li>
<li>The method for verifying software architecture with FSP model (ICACT 2010, 논문)</li>
<li>엔터프라이즈 애플리케이션을 위한 소프트웨어 아키텍처 개발 실무 (KOSTA, 2010, 저술)</li>
</ul>
<h3>주요 경력</h3>
<ul>
<li>2011.06 ~ 현재: 삼성 테크윈 아키텍트 양성 과정– 아키텍트 양성 강사 및 멘토</li>
<li>2013.06 ~ 현재: 현대엠엔소프트 네비게이션 플랫폼 – 아키텍처 설계 컨설턴트</li>
<li>2006.09 ~ 2007.03: 한화손해보험 차세대 시스템 - 소프트웨어 아키텍트</li>
<li>2007.03 ~ 2008.01: 대신증권 차세대 시스템 - 소프트웨어 아키텍트</li>
<li>2008.01 ~ 2010.06:  SK 가상세계 서비스 플랫폼 - 소프트웨어 아키텍트</li>
</ul>