<section class="about-us-subpage">
  <h3>회사 사업 실적</h3>
  
  <table class="ju-table">
    <thead>
      <tr>
        <th>사업명</th>
        <th>사업기간</th>
        <th>발주처</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          현대자동차<br />
          소프트웨어 아키텍처 설계 교육
        </td>
        <td>2011.07~2011.08</td>
        <td>현대자동차</td>
      </tr>
      <tr>
        <td>현대 모비스 아키텍트 양성 교육</td>
        <td>2011.10 ~ 2012.03</td>
        <td>현대모비스</td>
      </tr>
      <tr>
        <td>삼성전자 아키텍트 양성 교육 </td>
        <td>2013.04 ~ 2013.05</td>
        <td>삼성전자</td>
      </tr>
      <tr>
        <td>소프트웨어 아키텍처 설계 교육</td>
        <td>2013.05 ~ 2013.11</td>
        <td>전자통신연구원(ETRI)</td>
      </tr>
      <tr>
        <td>WBS 1, 2차  분석/설계 점검 및 멘토링</td>
        <td>2010.12 ~ 2013.06</td>
        <td>NIPA</td>
      </tr>
      <tr>
        <td>삼성 테크윈 아키텍트 양성 멘토링</td>
        <td>2010.10 ~ 현재</td>
        <td>삼성테크윈</td>
      </tr>
      <tr>
        <td>
          소프트웨어 프로덕트 라인<br />
          프레임워크 설계 및 구현
        </td>
        <td>2013.06 ~ 2014.06</td>
        <td>현대엠엔소프트</td>
      </tr>
    </tbody>
  </table>
<section>
