<div id="home_view">
  <h1 id="home_title">What is JU Consulting?<br />All of software in your business</h1>
  
  <p>JU Consulting은 귀사에 적합한 소프트웨어 개발 프로세스를 구축하고 귀사가 원하는 소프트웨어를 개발할 수 있도록 소프트웨어를 분석/설계하여 드립니다. 또한 소프트웨어 개발 프로세스를 기반으로 소프트웨어 개발에 필요한 모든 공학적 기법을 교육하며 관련 도구(ALM, PMS, etc.)를 지원합니다.</p>
  
  <table id="home">
    <tbody>
      <tr>
        <td rowspan=3 class="h_num">01</td>
        <td rowspan=3 class="h_title">Consulting</td>
        <td class="h_name">소프트웨어 분석/설계 및 진단</td>
      </tr>
      <tr>
        <td class="h_name">소프트웨어 프로세스</td>
      </tr>
      <tr>
        <td class="h_name">소프트웨어 테스트</td>
      </tr>
      <tr>
        <td rowspan=5 class="h_num">02</td>
        <td rowspan=5 class="h_title">Education</td>
        <td class="h_name">소프트웨어 요구사항 분석</td>
      <tr>
        <td class="h_name">소프트웨어 아키텍처 설계</td>
      </tr>
      <tr>
        <td class="h_name">컴포넌트 기반의 소프트웨어</td>
      </tr>
      <tr>
        <td class="h_name">소프트웨어 테스트</td>
      </tr>
      <tr>
        <td class="h_name">소프트웨어 프로젝트 관리</td>
      </tr>
      <tr>
        <td rowspan=3 class="h_num">03</td>
        <td rowspan=3 class="h_title">Tools</td>
        <td class="h_name">application life cycle management</td>
      </tr>
      <tr>
        <td class="h_name">project management system</td>
      </tr>
      <tr>
        <td class="h_name">open source 도구 등</td>
      </tr>
    </tbody>
  </table>
</div>
