	<tr>
          <td class = "col2"><%= course_program.lo %></td>
          <td colspan= "2"><%= course_program.contents %></td>
          <td class = "col3"><%= course_program.time %></td>
	  <td class = "col4"><%= course_program.note %></td>
	  <td> <%= link_to 'Destroy CourseProgram', controller: "course_programs",  action: "destroy",  course_id: course_program.course, id: course_program,
	 data: {confirm: 'Are you sure?'}  %>
	   </td>
	</tr>
