<h1>Consulting Manager</h1>

<p><%= link_to 'Regist Consult', new_consulting_path %></p>
<p> Consulting List </p>
<table>
 <% @consultings.each do |consulting| %>
      <tr>
        <td><%= consulting.title %></td>
        <td><%= link_to 'Edit', edit_consulting_path(consulting) %></td>
        <td><%= link_to 'Destroy', consulting_path(consulting),
				method: :delete,
				data: {confirm: 'Are you sure?' }  %></td>
      </tr>
 <% end %>
</table>

