<%= form_for :consulting, consulting_path  do |f| %>
<h1>title: <%= f.text_area :title %></h1>
<p>banner_txt: <%= f.text_area :banner_txt %></p>
<p>main_img: <%= f.text_area :main_img %></p>
<p>desc: <%= f.text_area :desc %></p>
<h2>Service Features</h2>
<span>features: <%= f.text_area :features %></span>

<p>etc_img: <%= f.text_area :etc_img %></p>
<%= f.submit %>
<% end %>

