<section class="consultant">
  <h1><%= @consulting.title %></h1>
  <p><%= @consulting.banner_txt %></p>
  <p><%= image_tag @consulting.main_img %></p>
  <p><%= @consulting.desc %></p>
  <h2>Service Features</h2>
  <span><%= raw(@consulting.features) %></span>
  <p><%= image_tag @consulting.etc_img %></p>
</section>

