<p>제이유 컨설팅은 지난 3년간 현대자동차, 현대모비스, 삼성전자, 삼성테크윈, 한국전자통신연구원(ETRI) 등 국내 최고의 소프트웨어 개발 업체의 아키텍트 양성 강의 및 멘토링을 담당하며 아키텍트 양성을 주도하였다. 또한 대형 국책 과제인 World Best Software(WBS)의  자동차 플랫폼, 무인 항공기 소프트웨어 개발에서 분석/설계 점검 및 멘토링을 진행하였다. 이를 응용하여 현대엠엔소프트에서 내비게이션 제품을 위한 프로덕트 라인 기반의 프레임워크를 분석/설계 컨설팅을 진행하였다.</p>
<table>
  <tr>
    <td colspan=2 rowspan=3>업체명</td>
    <td rowspan=3>JU Consulting</td>
    <td colspan=4>최근 3년간 기업현황(단위: 천원, 명)</td>
  </tr>
  <tr>
    <td>구분</td>
    <td>2011</td>
    <td>2012</td>
    <td>2013</td>
  </tr>
  <tr>
    <td>총자산</td>
    <td>7,626</td>
    <td>3,212</td>
    <td>47,926</td>
  </tr>
  <tr>
    <td colspan=2>설 립 년 월 일</td>
    <td>2011년 6월 4일</td>
    <td>총자본</td>
    <td>-14,800</td>
    <td>-603</td>
    <td>16,330</td>
  </tr>
  <tr>
    <td colspan=2>사업자등록번호</td>
    <td>314-86-24768</td>
    <td>총부채</td>
    <td>22,427</td>
    <td>3,815</td>
    <td>31,595</td>
  </tr>
  <tr>
    <td colspan=2>법인등록번호</td>
    <td></td>
    <td>매출액</td>
    <td>16,363</td>
    <td>78,950</td>
    <td>109,387</td>
  </tr>
  <tr>
    <td colspan=2>대표자성명</td>
    <td>정진성</td>
    <td>총인원</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td rowspan=2>주소</td>
    <td>본사</td>
    <td>대전 유성구 어은동</td>
    <td rowspan=2>연락처</td>
    <td>전화</td>
    <td colspan=2>010-5386-8986</td>
  </tr>
  <tr>
    <td>홈페이지</td>
    <td></td>
    <td>팩스</td>
    <td colspan=2>042-328-8986</td>
  </tr>
  <tr>
    <td colspan=2>조직규모</td>
    <td colspan=6>총(3)명, 컨설팅인력(2)명</td>
  </tr>

</table>
