<h1>Education#index</h1>
<p>Find me in app/views/education/index.html.erb</p>

<p> Course List </p>
<table>
 <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= link_to 'Show', course_path(course) %></td>
      </tr>
 <% end %>
</table>

