<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>Manager Course description</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th class = "col1">과목명</th>
          <th colspan= "7"><%= @course.title %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class = "col1">과정목표</th>
          <td  colspan= "7"><%= @course.purpose %></td>
          <!-- <td rowspan="2">Dolor</td> -->
        </tr>
        <tr>
          <th class = "col1">과목특징</th>
          <td  colspan= "7"><%= @course.feature %></td>
        </tr>
        <tr>
          <th rowspan="2", class = "col1">과정개요</th>
          <th class = "col2">교육인원</th>
          <td colspan= "2"><%= @course.overview_number_of_member %>명 내외</td>
          <th class = "col2">교육형태</th>
	  <td colspan= "2"><%= @course.overview_type %></td>
        </tr>
		<tr>
          <th class = "col2">교육대상</th>
          <td colspan = "2"><%= @course.overview_target %></td>
          <th class = "col2">교육시간</th>
	  <td colspan= "2"><%= @course.overview_time%></td>
        </tr>
	<tr>
	  <th rowspan= <%= @course.course_programs.size + 2 %>, class = "col1"> 프로그램</th>
          <th class = "col2">LO</th>
          <th colspan= "2">교육내용</th>
          <th class = "col3">교육시간</th>
	  <th colspan= "2", class = "col4">비고</th>
        </tr>

	<%= render @course.course_programs %>
	<%= form_for([@course,@course.course_programs.build]) do |f2| %>
 	<tr>
          <td class = "col2"><%= f2.text_field :lo %></td>
          <td colspan= "2"><%= f2.text_area :contents %></td>
          <td class = "col3"><%= f2.number_field :time, in: 1..20, step: 0.5  %></td>
	  <td class = "col4"><%= f2.text_area :note %></td>
          <td>
	<%= f2.submit %>
	  </td>
        </tr>
	<% end %>
          <th class = "col1">기대효과</th>
	  <td colspan= "7"><%= @course.expectation %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
