<h1>Education#index</h1>
<p>Find me in app/views/education/index.html.erb</p>

<p><%= link_to 'Regist course', controller:"courses", action: "new" %></p>
<p> Course List </p>
<table>
 <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= link_to 'Add program', controller:"courses", action: "manager_show", id:course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course_path(course),
				method: :delete,
				data: {confirm: 'Are you sure?' }  %></td>
      </tr>
 <% end %>
</table>

