<section class="course-page">
  <table class="course-table">
    <thead>
      <tr>
        <th class = "col1">과목명</th>
        <th colspan= "6"><%= @course.title %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class = "col1">과정목표</th>
        <td colspan= "6"><%= @course.purpose %></td>
        <!-- <td rowspan="2">Dolor</td> -->
      </tr>
      <tr>
        <th class = "col1">과목특징</th>
        <td  colspan= "6"><%= @course.feature %></td>
      </tr>
      <tr>
        <th rowspan="2", class = "col1">과정개요</th>
        <th class = "col2">교육인원</th>
        <td><%= @course.overview_number_of_member %>명 내외</td>
        <th class = "col2">교육형태</th>
        <td colspan= "2"><%= @course.overview_type %></td>
      </tr>
      <tr>
        <th class = "col2">교육대상</th>
        <td><%= @course.overview_target %></td>
        <th class = "col2">교육시간</th>
        <td colspan= "2"><%= @course.overview_time%></td>
      </tr>
      <tr>
        <th rowspan= <%= @course.course_programs.size + 1 %>, class = "col1"> 프로그램</th>
        <th class = "col2">LO</th>
        <th colspan= "2">교육내용</th>
        <th class = "col3">교육시간</th>
        <th class = "col4">비고</th>
      </tr>
      <% @course.course_programs.each do |course_program| %>
        <tr>
          <td class = "col2"><%= course_program.lo %></td>
          <td colspan= "2"><%= course_program.contents %></td>
          <td class = "col3"><%= course_program.time %>h</td>
          <td class = "col4"><%= course_program.note %></td>
        </tr>
      <% end %>
      <tr>
        <th class = "col1">기대효과</th>
        <td colspan= "6"><%= @course.expectation %></td>
      </tr>
    </tbody>
  </table>
</section>
