// Place all the styles related to the AboutUs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  color: #0f60ef;
}

section.about-us-subpage {
  width: 800px;
  padding-left: 20px;
  margin: 0 auto;

  div.consultant {
    h3.consultant-name {
      color: #0f60ef;
      margin-top: 50px;
      margin-bottom: 0px;
      padding-bottom: 5px;
      border-bottom: 1px solid #0f60ef;
    }
    p.consultant-role {
      margin-top: 0px;
      padding-top: 5px;
      font-family: Times new roman;
      font-style: italic;
      font-weight: bold;
    }

    table.consultant-desc {
      border-spacing: 0px 10px;
      th {
        width: 150px;
        color: #0f60ef;
        border-right: 2px solid #0f60ef;
        vertical-align: top;
      }
      td {
        padding-left: 10px;
        border: 0px;
        p {
          margin: 2px;
        }
      }
    }
  }
}
