/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "compass";
//@import "navigation";

body {
  background-color: #0f60ef; 
  font-family: Century Gothic, Malgun Gothic;

  div#whole_frame {
    background-color: white;
    width: 1024px;
    min-height: 1000px;
    margin: 10px auto;

    header {
      width: 1024px;
      height: 125px;
      position: relative;
      
    }

    section#body_frame {
      display: table;
      padding: 0px;
      min-height: 800px;

      aside {
        border-right: 2px solid #0f60ef;
        padding-right: 20px;
        width: 200px;
        min-height: inherit;
        height: 100%;
        float: left;
        display: table-cell;
      }

      main {
        padding-left: 10px;
        width: 1024px-232px;
        min-height: inherit;
        float: left;
        display: table-cell;
      }

     	main.nosidemenu {
     		width: 1024px;
     	}
    }
  }

  footer {
    position: relative;
    height: 100px;
    margin-bottom: 0px;
    border: 1px solid #000;
  }
}

br.clearfix {
  clear: both;
}
