// Place all the styles related to the consults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.consultant {
  width: 800px;
  margin: 0 auto;

  h1, h2 {
    color: #0f60ef;
    border-bottom: 1.5px solid #0f60ef;
    padding-bottom: 10px;
  }

}
