// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.course-page {
  width: 800px;
  margin: 0 auto;
  padding-top: 30px;

  table.course-table {
    height: 500px;
    border: 2px solid, #c0c0c0;
    border-collapse: collapse;
    
    th, td{
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid #c0c0c0;
    }
    td {
      font-size: 0.8em;
    }
    th {
      color: #0f60ef;
    }
    th.col1 {
      width: 100px;
    }
    th.col2, td.col2 {
      width: 150px;
    }
    th.col3, td.col3 {
      width: 40px;
    }
    th.col4, td.col4 {
      width: 60px;
    }
  }
}
