// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#home_view {
  padding: 0px 100px;

  h1 {
    color: #0f60ef;
    font-size: 3em;
    font-family: Times new roman;
    font-style: italic;
    border-bottom: 2px solid #0f60ef;
  }

  p {
    line-height: 180%;
  }

  table#home {
    margin: 0px auto;
    border-collapse: separate;
    border-spacing: 5px 10px;

    td {
      border-style: none;
      vertical-align: top;
    }
    td.h_num {
      color: #0f60ef;
      width: 50px;
      font-size: 1.6em;
    }
    
    td.h_title {
      font-size: 1.6em;
      font-family: Tahoma;
      color: #0f60ef;
      border-right: 2px solid #0f60ef;
      width: 200px;
    }
    
    td.h_name {
      padding-left: 10px;
      font-size: 1em;
      height: 2em;
    }
  }
}
