div#title_nav {
  width: inherit;
  height: 130px;
  display: block;
  text-align: center;
  
  a.banner_link {
    background-color: #0f60ef;
    width: 1024px;
    height: 85px;
    float: left;
    border: 0px;
    padding-bottom: 5px;
  }
  
  nav.global {
    width: 1024px;
    height: 40px;
    float: left;
    background-color: white;
    vertical-align: middle;
    
    ul.global-parent {
      list-style-type: none; //I
      height: 40px; // I
      margin: 0px auto;
      padding: 0px;
      vertical-align: middle; //I
      display: table;
      
      li.global-parent {
        left: 20px;
        width: 150px;// I
        height: 40px; // I
        float: left; //I
        
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        
        a.gnav_link {
          line-height: 40px;
          color: #0f60ef;
          font-size: 1em;
          text-decoration: none;
        }
        
        a.gnav_link:hover {
          font-weight: bold;
        }

        ul.global-child {
          display: none;
        }

      }

      li.global-parent:hover {
        ul.global-child {
          left: -30px;
          margin-left: 0px;
          padding: 0px;
          width: 200px;
          display: table;
          position: relative;
          list-style-type: none;

          li {
            width: 200px;
            height: 30px;
            padding-left: 30px;
            font-size: 1em;
            background: white;
            text-align: left;

            display: table;
            vertical-align: middle;

            a {
              color: #0f60ef;
              text-decoration: none;
            }

            a:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
