table.ju-table {
  border-collapse: collapse;
  th, td {
    border: 0px;
  }
  thead {
    tr {
      th, td {
        border-bottom: 1.2px solid #0f60ef;
        color: #0f60ef;
        font-weight: bold;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 20px 50px 20px 0px;
        border-bottom: 1.2px solid #c0c0c0;
      }
    }
  }
}
