<%= form_for(@consult) do |f| %>
  <% if @consult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consult.errors.count, "error") %> prohibited this consult from being saved:</h2>

      <ul>
      <% @consult.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
   <% end %>
	<h1>Consulting Information</h1>
	<p>title: <%= f.text_area :title %></p>
	<p>banner_txt: <%= f.text_area :banner_txt %></p>
	<p>main_img: <%= f.text_area :main_img %></p>
	<p>desc: <%= f.text_area :desc %></p>
	<h1>Service Features</h2>
	<p>features: <%= f.text_area :features %></p>
	<p>etc_img: <%= f.text_area :etc_img %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
