<section class="consultant">
  <h1><%= @consult.title %></h1>
  <p><%= @consult.banner_txt %></p>
  <p><%= image_tag @consult.main_img %></p>
  <p><%= @consult.desc %></p>
  <h2>Service Features</h2>
  <span><%= raw(@consult.features) %></span>
  <p><%= image_tag @consult.etc_img %></p>
</section>

