<!DOCTYPE html>
<html>
<head>
  <title>Juconsulting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="whole_frame">
    <header>
      <div id="title_nav">
        <%= link_to image_tag('company_logo.png', size: "280x80"), root_path, :class => "banner_link" %>
        <nav class="global">
          <ul class="global-parent">
            <li class="global-parent">
              <%= link_to "ABOUT US", "#", :class => "gnav_link" %>
              <%= render 'about_us/sidemenu' %>
            </li>
            <li class="global-parent">
              <%= link_to "CONSULTING", "#", :class => "gnav_link" %>
              <%= render 'consults/sidemenu' %>
            </li>
            <li class="global-parent">
              <%= link_to "EDUCATION", "#", :class => "gnav_link" %>
              <%= render 'courses/sidemenu' %>
            </li>
            <li class="global-parent"><%= link_to "TOOLS", tools_index_path, :class => "gnav_link" %></li>
          </ul>
          <br class="clearfix" />
        </nav>
      </div>
    </header>
    <section id="body_frame">
      <main class="nosidemenu">
        <%= yield %>
      </main>
      <br class="clearfix" />
    </section>

    <!--nav class="footer_nav">
      Footer Navigation
    </nav-->
    <!--footer>
      사업자 정보 / 공개채용 / FAQ<br />
      사업자번호: 000-000000-000
    </footer-->
  </div>
</body>
</html>
