<nav class="global">
	<%= link_to "About Us", about_us_index_path, :class => "gnav_link" %> /
	<%= link_to "Company", company_index_path, :class => "gnav_link" %> /
	<%= link_to "Consulting", consulting_index_path, :class => "gnav_link" %> /
	<%= link_to "Education", education_index_path, :class => "gnav_link" %> /
	<%= link_to "Tools", tools_index_path, :class => "gnav_link" %>
</nav>
